.color-dark {
  color: #180c5b;
}

.color-white {
  color: white;
}

.color-grey {
  color: grey;
}

.thick {
  font-weight: 900;
}
.thin-1 {
  font-weight: 100;
}
.thin-2 {
  font-weight: 200;
}
.thin-3 {
  font-weight: 300;
}

.hr-thick {
  border-radius: 10px;
  width: 100px;
  height: 2px;
  background-color: #4a2e6f;
}
.hr-thin-white {
  border-radius: 10px;
  width: 200px;
  height: 1px;
  background-color: white;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  word-wrap: break-word;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}
